#### 대구 지하철 이용승객 연도별 역별 DF 생성
* 이용승객 DF :

In [1]:
# 모듈 로딩
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# 데이터 로드
rawDF = pd.read_csv(r'C:\Users\KDP-43\Desktop\시각화 7조\data_set\시각화_7조\대구교통공사 - 승하차정보,환승정보\대구교통공사_월별승차인원_20240531.csv',
                    encoding='cp949')
rawDF

,년,월,설화명곡,화원,대곡,진천,월배,상인,월촌,송현,...,건들바위,대봉교,수성시장,수성구민운동장,어린이세상,황금,수성못,지산,범물,용지
0,1997,11,0,0,0,52042,22003,45814,29193,19727,...,0,0,0,0,0,0,0,0,0,0
1,1997,12,0,0,0,191050,106584,233005,131793,106512,...,0,0,0,0,0,0,0,0,0,0
2,1998,1,0,0,0,164212,93112,203852,107486,96989,...,0,0,0,0,0,0,0,0,0,0
3,1998,2,0,0,0,145247,88743,197313,107783,93817,...,0,0,0,0,0,0,0,0,0,0
4,1998,3,0,0,0,155849,95529,212187,133677,100144,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,2024,1,133248,114713,138140,234036,124398,319340,118089,101986,...,45659,82494,85930,48259,32112,83370,64866,64675,109435,68993
315,2024,2,125739,100339,129908,218546,115318,299619,109537,96360,...,43357,71758,77016,43329,29170,77389,60963,59581,100761,62800
316,2024,3,149349,122829,147618,247350,132533,341813,127619,106819,...,49277,85103,89108,50795,34620,88373,77593,69335,114765,71143
317,2024,4,148189,121405,144973,242396,129974,332735,125907,105284,...,50159,86212,87929,51911,36087,87924,82510,69464,117159,71461
318,2024,5,154133,126262,151747,256915,136823,351697,130801,109534,...,51076,87597,90231,52707,37409,90891,77617,71182,119928,73272

In [ ]:
rawDF.info()

In [ ]:
# 모든 칼럼에 대해 결측치 없음 --> 결측치 처리 할 필요 X

In [7]:
rawDF.describe()

,년,월,설화명곡,화원,대곡,진천,월배,상인,월촌,송현,...,건들바위,대봉교,수성시장,수성구민운동장,어린이세상,황금,수성못,지산,범물,용지
count,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,...,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000
mean,2010.626959,6.476489,38105.830721,32205.313480,186701.332288,172988.172414,120311.717868,329957.981191,139481.620690,117438.122257,...,13343.993730,28879.909091,27126.633229,18021.109718,11914.708464,29477.984326,24283.037618,23002.981191,39374.570533,22963.965517
std,7.693133,3.474785,60439.852101,51018.073294,104448.426003,41300.974710,18583.521003,70499.841658,22163.936916,17268.784419,...,18860.221712,40762.953018,38143.350906,25461.384243,16911.782643,41438.746846,34325.018107,32450.367540,55249.721063,32249.275457
min,1997.000000,1.000000,0.000000,0.000000,0.000000,52042.000000,22003.000000,45814.000000,29193.000000,19727.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2004.000000,3.000000,0.000000,0.000000,137812.500000,137303.000000,110026.000000,275953.500000,127030.000000,109277.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2011.000000,6.000000,0.000000,0.000000,211982.000000,176930.000000,122586.000000,342358.000000,140944.000000,122381.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2017.000000,9.500000,109307.000000,95796.000000,274958.000000,205880.000000,133547.000000,388540.500000,155883.000000,128636.000000,...,34892.500000,75840.000000,74152.000000,46805.500000,30427.000000,79657.000000,64033.000000,60862.500000,107272.000000,62524.500000
max,2024.000000,12.000000,158606.000000,136106.000000,353578.000000,256915.000000,157170.000000,440630.000000,177467.000000,146925.000000,...,51076.000000,106647.000000,98676.000000,65114.000000,51742.000000,106933.000000,125299.000000,83466.000000,140546.000000,102426.000000

In [8]:
rawDF.dtypes

년       int64
월       int64
설화명곡    int64
화원      int64
대곡      int64
        ...
황금      int64
수성못     int64
지산      int64
범물      int64
용지      int64
Length: 93, dtype: object

In [16]:
# 1997년, 2024년 데이터 행 삭제
# 년도별 역별 승차인원 수 DF이 필요하기 때문에 12개월 치 데이터가 없는 행에 대해서는 삭제

mask_rm = (rawDF["년"] == 1997) | (rawDF["년"] == 2024)

rawDF = rawDF[~(mask_rm)].copy()